/* 섹션 제목 스타일 */
.sectionTitleContainer{
    position: relative;
    display: table;
    margin: 0 auto 3rem;
}

.sectionTitle {
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: .5rem;
    color: #000000;
    font-size: 3rem;
}

@media (max-width:992px) {
    .sectionTitleContainer {
        margin: 0 auto 2rem;
    }

    .sectionTitle {
        font-size: 2.75rem;
    }
}