/* 프로젝트 섹션 컨테이너 레이아웃 */
.projectsContainer {
  background-color: #ddd8ea;
}

.projectsContent {
  width: 100%;
  max-width: 71.25rem;
  padding: 4rem 1.5rem;
  margin: 0 auto;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
